@import '~office-ui-fabric-react/dist/sass/References.scss';

.viewContracts {
  .tabHeader{
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff;
    width:100%;
    height:45px;
    padding-bottom: 18px;
  }


.tabButton{
  color:rgb(255, 255, 255);
  background-color: #4672c4;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;   
  height:100%;
  margin-right: 20px;
  width: 180px;
}

.tabButton:hover{
  background-color: #00b050;
  color: #ffffff;
}

.tabButtonSelected{
  background-color:#00b050;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;   
  color:rgb(255, 255, 255);
  height:100%;
  margin-right: 20px;
  width: 180px;
}

.tabContainer{
    border: 1px solid #4672c4;
    border-top: none;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;

.divTableHeader{
  color:white;
  background-color:  #4672c4;
}

  .divTable {
    display: table;
    padding: 5px;
}
.divTableRow {
    display: table-row;
    padding: 5px;
}
.divTableCell {
    display: table-cell;
    padding: 5px;
    border: #4672c4 solid 1px;
    margin: 5px;
}
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);        
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4672c4;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.modalcontent {
  background-color: #fefefe;
  margin: auto;
  margin-top: 200px ;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -10px;
}

.header2 {
  font-weight: 300;
  text-shadow: 0.5px 0.5px 1.5px grey;
  font-size: 20px;
  margin-bottom: 22px;
  margin-top: 48px;
  color: #f3135e;
  text-align: center;
  display: block;
}
}


.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}